@using DistanceTracker.Models
@model List<Player>

@{
	ViewData["Title"] = $"Player Search";
}

<div class="text-center">
	@if (Model != null)
	{
		<div class="row">
			<div class="col">
				<h4 class="text-left">Search Results</h4>
				<table class="table table-striped table-dark">
					<thead>
						<tr>
							<th class="text-left">ID</th>
							<th>Name</th>
							<th>SteamID</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var player in Model)
						{
							<tr>
								<td>@player.ID</td>
								<td><a class="link" href="/Player?steamID=@player.SteamID">@player.Name</a></td>
								<td>@player.SteamID</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	}
</div>
