/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
	font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	-webkit-box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.6);
	box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.6);

	/*box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);*/
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #222;
  color: #c8c8c8;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.link, .link:hover, .link:visited {
  color: #fff;
}

.table-condensed {
	font-size: 10px;
}

/* Custom scroll bars */
.custom-scrollbar::-webkit-scrollbar {
	width: 10px; /* width */
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1; /* Track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #888; /* Handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #555; /* Handle on hover */
}

.custom-scrollbar {
	overflow-y: scroll;
}

/* Sticky table headers */
.sticky-headers {
	overflow: auto;
}

.sticky-headers thead {
	background-color: #212529;
}

.sticky-headers thead th {
	position: sticky;
	top: 0px;
	border-top: 0px;
	background-color: #212529;
}

.stroke {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: white;
	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/
}

.stroke:hover {
	color: white;
}

.divider {
	border: 1px solid black;
	height: 4px;
	background-color: white;
	margin-bottom: 15px;
}

/* Avatar td entries */
table tbody tr td.entry-img {
	padding-top: 4px;
	padding-bottom: 4px;
}

table tbody tr td.entry-img img {
	aspect-ratio: 1;
	max-height: 40px;
	margin-right: 5px;
}

table.small tbody tr td.entry-img img {
	aspect-ratio: 1;
	max-height: 35px;
	margin-right: 5px;
}

/* Medals */
/* Medal Sizes */
.medal-small, .medal-small img {
	height: 35px;
	width: 35px;
}

.medal-medium, .medal-medium img {
	height: 70px;
	width: 70px;
}

.medal-large, .medal-large img {
	height: 140px;
	width: 140px;
}

.medal-fill, .medal-fill img {
	height: 100%;
	width: 100%
}

/* Medal colors */
.medal-bronze .medal-mask::after {
	background-color: #CD7F32;
}

.medal-silver .medal-mask::after {
	background-color: #838996;
}

.medal-gold .medal-mask::after {
	background-color: #D4AF37;
}

.medal-diamond .medal-mask::after {
	background-color: #B9F2FF;
}

.medal-bronze, .medal-silver, .medal-gold, .medal-diamond, .medal-rainbow {
	position: relative;
	display: inline-block;
}

/* CSS Blending TODO: Clean this up */
.medal img {
	display: block;
	max-height: 100%;
	max-width: 100%;
}

.medal-mask::after {
	mix-blend-mode: darken;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(/images/medals/medal_loog.png);
	background-blend-mode: multiply;
	background-size: contain;
	background-repeat: no-repeat;
}

/* Sandbox */
.medal-rainbow-radial .medal-mask::after {
	background-image: url(/images/medals/medal_loog.png), radial-gradient(at 53.5% 49%, red,orange,yellow,green,blue,indigo,violet, grey 90%);
}

.medal-rainbow .medal-mask::after {
	animation: rainbow-bg 2.5s linear;
	animation-iteration-count: infinite;
}

@keyframes rainbow-bg {
	100%,0% {
		background-color: rgb(208,35,35);
	}

	8% {
		background-color: rgb(208,122,35);
	}

	16% {
		background-color: rgb(208,208,35);
	}

	25% {
		background-color: rgb(122,208,35);
	}

	33% {
		background-color: rgb(35,208,35);
	}

	41% {
		background-color: rgb(35,208,122);
	}

	50% {
		background-color: rgb(35,208,208);
	}

	58% {
		background-color: rgb(35,122,208);
	}

	66% {
		background-color: rgb(35,35,208);
	}

	75% {
		background-color: rgb(122,35,208);
	}

	83% {
		background-color: rgb(208,35,208);
	}

	91% {
		background-color: rgb(208,35,122);
	}
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #212529;
}

.fade-in {
	animation: slide-up 0.4s ease-out;
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.no-wrap {
	overflow: hidden;
	white-space: nowrap;
}

.striped-cols {
	background-color: #212529;
}
.striped-cols > div:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, 0.05);
}

.pointer {
	cursor: pointer;
}

/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
	width: 6px;
}
*::-webkit-scrollbar-track {
	background: #222;
}
*::-webkit-scrollbar-thumb {
	background-color: #c8c8c8;
	border-radius: 0px;
	border: 0px;
}

hr {
	border-top: 1px solid #c8c8c8;
}

.nav-dark .nav-link {
	color: rgba(255, 255, 255, 0.5);
}

.nav-dark .nav-link:hover, .nav-dark .nav-link:focus {
	color: rgba(255, 255, 255, 0.75);
}

.nav-dark .nav-link.disabled {
	color: rgba(255, 255, 255, 0.25);
}

.nav-dark .show > .nav-link,
.nav-dark .active > .nav-link,
.nav-dark .nav-link.show,
.nav-dark .nav-link.active {
	color: #fff;
}

.nav-dark .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 0.1);
}

.nav-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-dark .navbar-text {
	color: rgba(255, 255, 255, 0.5);
}

.nav-dark .navbar-text a {
	color: #fff;
}

.nav-dark .navbar-text a:hover, .nav-dark .navbar-text a:focus {
	color: #fff;
}
