/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
	font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	-webkit-box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.6);
	box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.6);

	/*box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);*/
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #222;
  color: #c8c8c8;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.link, .link:hover, .link:visited {
  color: #fff;
}

.table-condensed {
	font-size: 10px;
}

/* Custom scroll bars */
.custom-scrollbar::-webkit-scrollbar {
	width: 10px; /* width */
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1; /* Track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #888; /* Handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #555; /* Handle on hover */
}

.custom-scrollbar {
	overflow-y: scroll;
}

/* Sticky table headers */
.sticky-headers {
	overflow: auto;
}

.sticky-headers thead {
	background-color: #212529;
}

.sticky-headers thead th {
	position: sticky;
	top: 0px;
	border-top: 0px;
	background-color: #212529;
}

.stroke {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: white;
	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/
}

.divider {
	border: 1px solid black;
	height: 4px;
	background-color: white;
	margin-bottom: 15px;
}
