@{
	ViewData["Title"] = "All Levels";
}
@model string

<style>
.level-card .card {
	background-color: #32383e;
}
</style>

<script>
	var debounce = null;
	jQuery(function () {
		search();
		
		$('#searchQuery').on('input', function () {
			clearTimeout(debounce);
			debounce = setTimeout(search, 1000);
		});
	});

	function search() {
		var q = $('#searchQuery').val();
		var searchResults = $('#searchResults');
		searchResults.html('');
		$('#levelsPlaceholder').show();
		$('#noResults').hide();
		$('#searchResultsMessage').hide();

		$.ajax({
			url: '/Leaderboard/SearchLevels',
			method: 'GET',
			data: {
				q: q
			},
			success: async function (data) {
				$('#levelsPlaceholder').hide();
				if (data.length > 0 && q.length > 0)
				{
					$('#searchResultsMessage').show();
				}
				for (var i = 0; i < data.length; i++) {
					var levelSet = data[i];
					for (var j = 0; j < data[i].length; j++) {
						var level = levelSet[j];
						if (j == 0) {
							searchResults.append(`
								<div class="col-12 fade-in text-left">
									<h1 style="margin-top: 30px;">${level.levelSet ?? "Workshop"}</h1>
									<hr />
								</div>
							`);
						}
						var row = $(`
							<div class="col-3 level-card fade-in">
								<a class="link" href="/Leaderboard/Level?leaderboardID=${level.id}">
									<div class="card box-shadow" style="margin: 15px 0px 15px 0px;">
										<img class="card-img-top" src="${level.imageURL}">
										<div class="card-body">
											<h5 class="card-title">${level.levelName}</h5>
											${level.entryCount == null ? '' : `<h6 class="card-subtitle mb-2">${level.entryCount} Entries</h6>`}
											${level.latestUpdateUTC == null ? '' : `<h6 class="card-subtitle mb-2">Last Activity ${level.timeAgoString}</h6>`}
										</div>
									</div>
								</a>
							</div>
						`);
						searchResults.append(row);
						if ((j + 1) % 4 == 0 && j > 0) {
							await new Promise(r => setTimeout(r, 100));
						}
					}
				}
				
				if (data.length == 0) {
					$('#noResults').show();
				}
			},
			error: function () {
				toastr.error('Failed to load level search results');
			}
		});
	};
</script>

<div class="container text-center fade-in">
	<div class="row">
		<div class="col-12">
			<form class="form mt-4 fade-in">
				<div class="form-group" style="width:100%">
					<input type="text" class="form-control" id="searchQuery" name="q" placeholder="Enter a level name" value="@Model">
				</div>
			</form>
			<h4 class="text-left fade-in" id="searchResultsMessage">Search Results (Showing First 100 Results)</h4>
		</div>
		<div class="col-12">
			<div id="levelsPlaceholder" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
			<div class="row" id="searchResults"></div>
		</div>
		<div id="noResults" class="col-12 text-center mt-4"><h2>No results 😐</h2></div>
	</div>
</div>
