@{
	ViewData["Title"] = "All Levels";
}

<style>
.level-card .card {
	background-color: #383838;
}
</style>

<script>
	jQuery(function () {
		getLevels();
	});

	function getLevels() {
		$.ajax({
			url: '/Leaderboard/GetLevels',
			method: 'GET',
			success: async function (data) {
				$('#levelsPlaceholder').hide();
				var levels = $('#levels');
				for (var i = 0; i < data.length; i++) {
					var level = data[i];
					var row = $(`
						<div class="col-3 level-card fade-in">
							<a class="link" href="/Leaderboard/Level?leaderboardid=${level.id}">
								<div class="card box-shadow" style="margin: 15px 0px 15px 0px;">
									<img class="card-img-top" src="/images/${level.levelName}.bytes.png">
									<div class="card-body">
										<h5 class="card-title">${level.levelName}</h5>
										${level.entryCount == null ? '' : `<h6 class="card-subtitle mb-2">${level.entryCount} Entries</h6>`}
										${level.latestUpdateUTC == null ? '' : `<h6 class="card-subtitle mb-2">Last Activity ${level.timeAgoString}</h6>`}
									</div>
								</div>
							</a>
						</div>
					`);
					levels.append(row);
					if ((i + 1) % 4 == 0 && i > 0) {
						await new Promise(r => setTimeout(r, 100));
					}
				}
			},
			error: function () {
				toastr.error('Failed to load global stats for this player');
			}
		});
	};
</script>

<div class="container text-center fade-in">
	<div class="row">
		<div class="col">
			<h4 class="text-left">All Levels</h4>
			<div id="levelsPlaceholder" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
			<div class="row" id="levels"></div>
		</div>
	</div>
</div>
