@using DistanceTracker.Models
@model LevelsViewModel

@{
	ViewData["Title"] = "All Levels";
}

<style>
.level-card .card {
	background-color: #383838;
}
</style>

<div class="container text-center">
	<div class="row">
		<div class="col">
			<h4 class="text-left">All Levels</h4>
			<div class="row">
				@foreach (var entry in Model.Levels)
				{
				<div class="col-3 level-card">
					<a class="link" href="/Leaderboard/Level?leaderboardid=@entry.ID">
						<div class="card box-shadow" style="margin: 15px 0px 15px 0px;">
							<img class="card-img-top" src="/images/@(entry.LevelName).bytes.png">
							<div class="card-body">
								<h5 class="card-title">@entry.LevelName</h5>
								@if (entry.EntryCount.HasValue)
								{
								<h6 class="card-subtitle mb-2">@entry.EntryCount Entries</h6>
								}
								@if (entry.LatestUpdateUTC.HasValue)
								{
								<h6 class="card-subtitle">Last Activity @Formatter.TimeAgoFromUnixTime(@entry.LatestUpdateUTC.Value)</h6>
								}
							</div>
						</div>
					</a>
				</div>
				}
			</div>
		</div>
	</div>
</div>
