@{
	ViewData["Title"] = $"Home";
}

<div class="container">
	<div class="row" style="margin-top:30vh">
		<div class="col-6 offset-3 text-center">
			<img src="~/images/logo.png" class="img-fluid" />
			<form class="form" action="/search" method="get">
				<div class="form-group" style="width:100%">
					<input type="text" class="form-control" name="q" placeholder="Enter player name">
				</div>
				<button type="submit" class="btn btn-outline-success">Search</button>
			</form>
		</div>
	</div>
</div>
