@{
	ViewData["Title"] = "Global Activity";
}

<script>
	jQuery(function () {
		getGlobalRecentActivity();
	});

	function getGlobalRecentActivity() {
		$.ajax({
			url: '/Home/GetTop100RecentActivity',
			method: 'GET',
			success: async function (data) {
				$('#recentActivityPlaceholder').hide();
				var recentActivity = $('#recentActivity');
				for (var i = 0; i < data.length; i++) {
					var activity = data[i];
					if (activity.sighting != null) {
						var row = $(`
							<tr>
								<td class="text-left entry-img no-wrap"><div class="fade-in">
									<img src="${activity.sighting.player.steamAvatar}" />
									<a class="link" href="/Player?steamID=${activity.sighting.player.steamID}">
										${activity.sighting.player.name}
									</a>
								</div></td>
								<td class="text-left entry-img no-wrap"><div class="fade-in">
									<img src="${activity.sighting.leaderboard.imageURL}" />
									<a class="link" href="/Leaderboard/Level?leaderboardID=${activity.sighting.leaderboard.id}">
										${activity.sighting.leaderboard.levelName}
									</a>
								</div></td>
								<td class="no-wrap"><div class="fade-in">${/*TODO*/''}</div></td>
								<td class="no-wrap"><div class="fade-in">${activity.sighting.millisecondsString} <span class="text-success">New!</span></div></td>
								<td class="no-wrap"><div class="fade-in">${activity.timeAgoString}</div></td>
							</tr>
						`);
					}
					else {
						var row = $(`
							<tr>
								<td class="text-left entry-img no-wrap"><div class="fade-in">
									<img src="${activity.improvement.player.steamAvatar}" />
									<a class="link" href="/Player?steamID=${activity.improvement.player.steamID}">
										${activity.improvement.player.name}
									</a>
								</div></td>
								<td class="text-left entry-img no-wrap"><div class="fade-in">
									<img src="${activity.improvement.leaderboard.imageURL}" />
									<a class="link" href="/Leaderboard/Level?leaderboardID=${activity.improvement.leaderboard.id}">
										${activity.improvement.leaderboard.levelName}
									</a>
								</div></td>
								<td class="no-wrap"><div class="fade-in">
									${activity.improvement.newRank}
									( <i class="fas fa-arrow-up fa-sm text-success"></i> ${activity.improvement.oldRank - activity.improvement.newRank} )</div></td>
								<td class="no-wrap"><div class="fade-in">
									${activity.improvement.millisecondsString}
									( <i class="fas fa-arrow-up fa-sm text-success"></i> ${activity.improvement.timeImprovement} )</div></td>
								<td class="no-wrap"><div class="fade-in">${activity.timeAgoString}</div></td>
							</tr>
						`);
					}
					recentActivity.append(row);
					await new Promise(r => setTimeout(r, 15));
				}
			},
			error: function () {
				toastr.error('Failed to load global stats for this player');
			}
		});
	};
</script>

<div class="container text-center">
	<div class="row">
		<div class="col">
			<h4 class="text-left">Recent Top 100 Records</h4>
			<table class="table table-striped table-dark" style="table-layout: fixed">
				<thead>
					<tr>
						<th class="text-left">Player</th>
						<th class="text-left">Track</th>
						<th style="width: 200px">Rank</th>
						<th style="width: 200px">Time</th>
						<th style="width: 200px">When</th>
					</tr>
				</thead>
				<tbody id="recentActivity">
				</tbody>
			</table>
			<div id="recentActivityPlaceholder" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
		</div>
	</div>

</div>
